<%-include('header') %>
    <div class="container">
        <h1><%= title %></h1>
        <table style="width: 100%;">
          <thead>
            <tr style="border-bottom: 3px solid;" >
              <th>Category Name</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <% if(records.length > 0){%>
            <% records.forEach(function(row){%>
              <tr style="border-bottom: 1.5px solid gray; font-weight: bolder;">
                <td ><%= row.password_category %></td>
                <td class="text-center">
                  <a class="btn btn-primary btn-xs"href="/categoryList/edit/<%= row._id %>"><i class="fa fa-edit"></i></a>
                  <a class="btn btn-danger btn-xs" href="/categoryList/delete/<%= row._id %>"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            <%}) %>
          <% } %>
        </table>
      </div>
  </body>
</html>
